@import url("https://fonts.googleapis.com/css?family=Arvo|Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  font-size: 12px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.center {
  text-align: center; }

/*******************************************************************************/
/*************************		About 				****************************/
/*******************************************************************************/
.main.about {
  background-color: #3C91E6;
  margin-top: -2rem;
  min-height: 100vh;
  padding: 1rem; }

.main.about h1 {
  text-align: center;
  color: #fff;
  margin: 0px;
  padding: 1rem 0rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 6rem; }

.main.about h2 {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem; }

.main.about p {
  color: #fff;
  font-family: 'Arvo', serif;
  font-size: 2.7rem; }

.main.about a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  color: #F5E663;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.9rem; }

.main.about table {
  width: 100%; }

.main.about td:nth-child(1) {
  width: 30%;
  text-align: center;
  vertical-align: top; }

.main.about td:nth-child(2) {
  color: #fff;
  font-family: 'Arvo', serif;
  font-size: 2.7rem;
  padding: 0.25rem; }

.main.about .app {
  color: #9c3848;
  font-size: 1.5rem; }

.main.about .explanation {
  font-size: 2.0rem;
  line-height: 2.5rem;
  display: inline-block;
  color: #f5e663; }
